In [1]:
import numpy as np
import pandas as pd
import pickle

%matplotlib inline

In [2]:
mta18 = pd.read_pickle('MTA_2018')

In [3]:
mta18.head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/12/2018,00:00:00,REGULAR,6616743,2242108
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/12/2018,04:00:00,REGULAR,6616762,2242113
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/12/2018,08:00:00,REGULAR,6616781,2242144
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/12/2018,12:00:00,REGULAR,6616886,2242229
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/12/2018,16:00:00,REGULAR,6617105,2242278
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/12/2018,20:00:00,REGULAR,6617402,2242328
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/13/2018,00:00:00,REGULAR,6617539,2242342
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/13/2018,04:00:00,REGULAR,6617560,2242345
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/13/2018,08:00:00,REGULAR,6617575,2242362
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/13/2018,12:00:00,REGULAR,6617674,2242431

In [4]:
mta19 = pd.read_pickle('MTA_2019')

In [5]:
techst = pd.read_pickle('TECH_STATIONS')

In [6]:
techst

{'Salesforce': ['5 AVE-BRYANT PK', 609],
 'Spotify': ['CORTLANDT ST', 624],
 'Amazon': ['34 ST-PENN STA', 164],
 'Facebook': ['ASTOR PLACE', 407],
 'Google': ['14 ST', 601],
 'NYU_Tandon': ['JAY ST-METROTEC', 636],
 'CUNY_Tech': ['JAY ST-METROTEC', 636],
 'CUNY_BOM': ['CANAL ST', 169],
 'CUNY_HUNTER': ['68 ST-HUNTER COL', 399],
 'Columbia': ['125 ST', 306]}

In [16]:
TSDF = techst.values()

In [17]:
TSDF

dict_values([['5 AVE-BRYANT PK', 609], ['CORTLANDT ST', 624], ['34 ST-PENN STA', 164], ['ASTOR PLACE', 407], ['14 ST', 601], ['JAY ST-METROTEC', 636], ['JAY ST-METROTEC', 636], ['CANAL ST', 169], ['68 ST-HUNTER COL', 399], ['125 ST', 306]])

In [20]:
TSAD = list(TSDF)

In [23]:
TSADDY = []
for addy in TSAD:
    TSADDY.append(addy[0])

In [24]:
TSADDY

['5 AVE-BRYANT PK',
 'CORTLANDT ST',
 '34 ST-PENN STA',
 'ASTOR PLACE',
 '14 ST',
 'JAY ST-METROTEC',
 'JAY ST-METROTEC',
 'CANAL ST',
 '68 ST-HUNTER COL',
 '125 ST']

In [25]:
pd.DataFrame(TSADDY)

                  0
0   5 AVE-BRYANT PK
1      CORTLANDT ST
2    34 ST-PENN STA
3       ASTOR PLACE
4             14 ST
5   JAY ST-METROTEC
6   JAY ST-METROTEC
7          CANAL ST
8  68 ST-HUNTER COL
9            125 ST

In [26]:
TSADDF = pd.DataFrame(TSADDY)

In [33]:
TSADDF in mta19.STATION

TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed