In [1]:
"""

Import NY 2018 IRS Excel file downloaded from
https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2018-zip-code-data-soi
and saved as '18zp33ny_IRS_NY_2018.xlsx'

Filter IRS file to MTA station zip codes saved in file 'station_info_zipcode.csv'
Aggreate number of tax returns >=75k

Count number of stations in each zip code

Combine station counts with tax return counts by zip code

Output CSV 'station_zip_irs_counts.csv'

"""

"\n\nImport NY 2018 IRS Excel file downloaded from\nhttps://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2018-zip-code-data-soi\nand saved as '18zp33ny_IRS_NY_2018.xlsx'\n\nFilter IRS file to MTA station zip codes saved in file 'station_info_zipcode.csv'\nAggreate number of tax returns >=75k\n\nCount number of stations in each zip code\n\nCombine station counts with tax return counts by zip code\n\nOutput CSV 'station_zip_irs_counts.csv'\n\n"

In [2]:
import pandas as pd
import numpy as np

In [3]:
# read in the IRS file
irs_import = pd.read_excel('18zp33ny_IRS_NY_2018.xlsx', header=3, converters={'ZIP\ncode [1]': str})
irs_import.head(2)

,ZIP\ncode [1],Size of adjusted gross income,Number of returns,Number of single returns,Number of joint returns,Number of head of household returns,Number of electronically filed returns,Number of computer prepared paper returns,Number with paid preparer's signature,Number of returns with direct deposit,...,Net investment income tax,Unnamed: 142,Tax due at time of filing [12],Unnamed: 144,Total overpayments,Unnamed: 146,Overpayments refunded [13],Unnamed: 148,Credited to next year's estimated tax,Unnamed: 150
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount
1,NaN,NaN,-1.0,-2.0,-3.0,-4.0,-5.0,-6.0,-7.0,-8.0,...,-140,-141,-142,-143,-144,-145,-146,-147,-148,-149

In [4]:
# import the csv with station info plus added the zip codes
station_info = pd.read_csv('station_info_zipcode.csv')
station_info.head(2)

,Unnamed: 0,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Notes,zip_code
0,0,1,1,R01,BMT,Astoria,Astoria-Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan,0,NaN,11101
1,1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan,1,NaN,11102

In [5]:
irs_import.columns

Index(['ZIP\ncode [1]', 'Size of adjusted gross income', 'Number of returns',
       'Number of single returns', 'Number of joint returns',
       'Number of head of household returns',
       'Number of electronically filed returns',
       'Number of computer prepared paper returns',
       'Number with paid preparer's signature',
       'Number of returns with direct deposit',
       ...
       'Net investment income tax', 'Unnamed: 142',
       'Tax due at time of filing [12]', 'Unnamed: 144', 'Total overpayments',
       'Unnamed: 146', 'Overpayments refunded [13]', 'Unnamed: 148',
       'Credited to next year's estimated tax', 'Unnamed: 150'],
      dtype='object', length=151)

In [6]:
station_info.columns

Index(['Unnamed: 0', 'Station ID', 'Complex ID', 'GTFS Stop ID', 'Division',
       'Line', 'Stop Name', 'Borough', 'Daytime Routes', 'Structure',
       'GTFS Latitude', 'GTFS Longitude', 'North Direction Label',
       'South Direction Label', 'ADA', 'ADA Notes', 'zip_code'],
      dtype='object')

In [7]:
irs_import = irs_import.rename(columns={'ZIP\ncode [1]': 'ZIP'})

irs_import.head(2)

,ZIP,Size of adjusted gross income,Number of returns,Number of single returns,Number of joint returns,Number of head of household returns,Number of electronically filed returns,Number of computer prepared paper returns,Number with paid preparer's signature,Number of returns with direct deposit,...,Net investment income tax,Unnamed: 142,Tax due at time of filing [12],Unnamed: 144,Total overpayments,Unnamed: 146,Overpayments refunded [13],Unnamed: 148,Credited to next year's estimated tax,Unnamed: 150
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount
1,NaN,NaN,-1.0,-2.0,-3.0,-4.0,-5.0,-6.0,-7.0,-8.0,...,-140,-141,-142,-143,-144,-145,-146,-147,-148,-149

In [8]:
subset_irs = irs_import[['ZIP', 'Size of adjusted gross income', 'Number of returns']]

In [9]:
# unique zip_codes in MTA station info file
ny_zips = station_info['zip_code'].unique()
len(ny_zips)

140

In [10]:
# filter NY IRS data to only zip codes with MTA stations
mta_zips = subset_irs[subset_irs['ZIP'].isin(ny_zips)]

In [11]:
mta_zips.columns

Index(['ZIP', 'Size of adjusted gross income', 'Number of returns'], dtype='object')

In [12]:
mta_zips.head(2)

      ZIP Size of adjusted gross income  Number of returns
10  10001                           NaN            16150.0
11  10001              $1 under $25,000             3680.0

In [13]:
# IRS excel file was formatted with blank rows. Remove the extra blank rows.
mta_zips.loc[:].dropna(axis=0, how='any', inplace=True)

In [14]:
mta_zips.head()

      ZIP Size of adjusted gross income  Number of returns
10  10001                           NaN            16150.0
11  10001              $1 under $25,000             3680.0
12  10001         $25,000 under $50,000             2470.0
13  10001         $50,000 under $75,000             2070.0
14  10001        $75,000 under $100,000             1560.0

In [15]:
mta_zips['Size of adjusted gross income'].unique()

array([nan, '$1 under $25,000', '$25,000 under $50,000',
       '$50,000 under $75,000', '$75,000 under $100,000',
       '$100,000 under $200,000', '$200,000 or more'], dtype=object)

In [16]:
keep_ranges = ['$75,000 under $100,000','$100,000 under $200,000', '$200,000 or more' ]
keep_ranges

['$75,000 under $100,000', '$100,000 under $200,000', '$200,000 or more']

In [17]:
over_75 = mta_zips[mta_zips['Size of adjusted gross income'].isin(keep_ranges)]

In [18]:
counts_zip = over_75.groupby(['ZIP']).agg({'Number of returns':np.sum}).reset_index()

counts_zip['Number of returns >75k'] = counts_zip['Number of returns'].astype(int)
counts_zip.drop('Number of returns',axis=1, inplace=True)
counts_sorted = counts_zip.sort_values(by='Number of returns >75k', ascending=False)
counts_sorted

       ZIP  Number of returns >75k
19   10023                   21990
71   11201                   20820
21   10025                   20660
38   10128                   19380
13   10016                   19140
..     ...                     ...
120  11693                    1490
119  11692                    1400
54   10459                    1340
51   10455                    1090
50   10454                     890

[122 rows x 2 columns]

In [19]:
# subset MTA station info to keep only needed for combining with IRS agg
subset_station = station_info[['zip_code','Borough']]

In [20]:
station_zip = subset_station.groupby(['zip_code','Borough']).count().reset_index()

In [21]:
## merge >75k return counts with station counts by zip code
combo = pd.merge(counts_sorted, station_zip, how='left', left_on='ZIP', right_on='zip_code')

In [22]:
combo_sorted = combo.sort_values(by='Number of returns >75k', ascending=False)
combo_sorted

       ZIP  Number of returns >75k zip_code Borough
0    10023                   21990    10023       M
1    11201                   20820    11201      Bk
2    10025                   20660    10025       M
3    10128                   19380    10128       M
4    10016                   19140    10016       M
..     ...                     ...      ...     ...
119  11693                    1490    11693       Q
120  11692                    1400    11692       Q
121  10459                    1340    10459      Bx
122  10455                    1090    10455      Bx
123  10454                     890    10454      Bx

[124 rows x 4 columns]

In [23]:
# FINAL OUTPUT

combo.to_csv('station_zip_irs_counts.csv', index=False)