In [6]:
import pandas as pd

In [7]:
def retrieve_mta_info(weeks, start_date):
    lists = []

    url_base = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_'

    for week in range(weeks):
        file_date = pd.to_datetime(start_date) + pd.to_timedelta(pd.np.ceil(week * 7), unit="D")

        filename = f'{url_base}{str(file_date.year)[2:]}{str(file_date.month).zfill(2)}{str(file_date.day).zfill(2)}.txt'

        print(f'Week {week + 1} - {filename}')

        lists.append(pd.read_csv(filename))
        df = pd.concat(lists)

        df.to_pickle(f'mta_{pd.to_datetime(start_date).year}')

    return df

In [8]:
retrieve_mta_info(8, '2018-05-05')

Week 1 - http://web.mta.info/developers/data/nyct/turnstile/turnstile_180505.txt
Week 2 - http://web.mta.info/developers/data/nyct/turnstile/turnstile_180512.txt
Week 3 - http://web.mta.info/developers/data/nyct/turnstile/turnstile_180519.txt
Week 4 - http://web.mta.info/developers/data/nyct/turnstile/turnstile_180526.txt
Week 5 - http://web.mta.info/developers/data/nyct/turnstile/turnstile_180602.txt
Week 6 - http://web.mta.info/developers/data/nyct/turnstile/turnstile_180609.txt
Week 7 - http://web.mta.info/developers/data/nyct/turnstile/turnstile_180616.txt
Week 8 - http://web.mta.info/developers/data/nyct/turnstile/turnstile_180623.txt

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,00:00:00,REGULAR,6598847,2235829
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,04:00:00,REGULAR,6598864,2235830
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,08:00:00,REGULAR,6598880,2235863
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,12:00:00,REGULAR,6598961,2235955
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,16:00:00,REGULAR,6599175,2236015
...,...,...,...,...,...,...,...,...,...,...,...
196681,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,06/22/2018,05:00:00,REGULAR,2943952,387457
196682,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,06/22/2018,09:00:00,REGULAR,2944236,387461
196683,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,06/22/2018,13:00:00,REGULAR,2944660,387473
196684,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,06/22/2018,17:00:00,REGULAR,2945138,387484
196685,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,06/22/2018,21:00:00,REGULAR,2945524,387488